h1 {
    font-size: 54px;
}

a {
    color: green;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#current {
    color: red;
    font-weight: bold;
}

.list {
    color: dimgray;
}

.home_title {
    color: cornflowerblue;
}

.home_title:hover {
    text-decoration: none;
}

p {
    margin-bottom: 40px;
}