body {
    font-family: "Nanum Gothic", "Apple SD Gothic Neo", sans-serif;
    margin: 0px;
}

a {
    color: green;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#current {
    color: red;
    font-weight: bold;
}

#grid ul.contents {
    list-style-type: none;
    border-right: 1px solid gray;
    width: 100px;
    padding: 20px;
    padding-right: 50px;
    margin: 0px;
}

.list {
    color: dimgray;
}

.home_title {
    color: cornflowerblue;
}

pre {
    margin-bottom: 15px;
    background-color: whitesmoke;    
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    font-size: 54px;
    border-bottom: 1px solid gray;
    padding: 20px;
    margin: 0px;
}

.home_title:hover {
    text-decoration: none;
}

p {
    margin-bottom: 40px;
}

#grid {
    display: grid;
    grid-template-columns: 180px 1fr;
}

#article {
    padding-left: 15px;
}


@media(width < 800px) {
    #grid {
        display: block;
    }

    #grid ul.contents {
        list-style-type: none;
        border-right: none;
        padding: 40px;
        width: 180px;
        margin: 30px;
        border: 1px solid dimgray;
        background-color: lightgray;
    }

    h1 {
        font-size: 54px;
        text-align: center;
        border-bottom: none;
        padding: 20px;
        margin: 0px;
    }

    body {
        margin-left: 20px;
        margin-right: 20px;
    }

    #YouTube {
        width: 100%;
        align-content: center;
    }

    img {
        display: block;
        margin: auto;
    }
}